@model Models.Framework.Staff
@{
    ViewBag.Title = "SỬA NHÂN VIÊN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}
@section Script{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="/Assets/Admin/js/AngularJs/EditStaff.js"></script>
}
<div ng-app="staffApp" ng-controller="StaffController" id="main" data-id="@ViewBag.Id">
    <form >
        <div class="form-horizontal">
            <hr />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Tên nhân viên</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="VD: Nguyễn Văn Anh" type="text" ng-model="staff.StaffName"  />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Địa chỉ</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="Xã, Huyện, Tỉnh..." type="text" ng-model="staff.Address"  />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Số điện thoại</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="VD: 0909 099 099 (*)" ng-model="staff.PhoneNumber"  />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="VD:email@gmail" type="text" ng-model="staff.Email"  />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Chức vụ</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-control" ng-model="staff.Post"   >
                            <option>Choose...</option>
                            <option>Nhân viên</option>
                            <option>Quản lý</option>
                            <option>BOD</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Lương cơ bản</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-control" ng-model="staff.BasicSalary" >
                            <option>Choose...</option>
                            <option value="5600000">5600000</option>
                            <option value="5300000">5300000</option>
                            <option value="6500000">6500000</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6">
                    <label class="col-sm-4 control-label" style="font-size:18px">Ngày bắt đầu LV</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" id="example-date" ng-model="staff.StartDate">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Hình thức LV</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-control" ng-model="staff.TypeWork">
                            <option>Choose...</option>
                            <option>Full-time</option>
                            <option>Part-time</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4" style="font-size:18px">Hợp đồng LĐ</label>
                    <div class="col-md-10">
                        <select id="inputState" class="form-control" ng-model="staff.ContractWork">
                            <option>Choose...</option>
                            <option>HĐLĐ vô thời hạn</option>
                            <option>HĐLĐ 1 năm</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*@Html.ActionLink("Huỷ", "Index", null, staff { @class = "btn btn-danger", @style = "font-size:15px" })*@
                    <a href="/Admin/Staff/Index" class="btn btn-danger" style="font-size:15px" >Huỷ</a>
                    <button type="submit" class="btn btn-primary" style="font-size:15px" ng-click="Edit()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

