@{
    ViewBag.Title = "About";
}
<header class="header-section d-none d-xl-block">
    <div class="header-wrapper">
        <div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Start Header Logo -->
                        <div class="header-logo">
                            <div class="logo">
                                <a href="/"><img src="/Assets/Font/images/logo/logo_black.png" alt=""></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Header Main Menu -->
                        <div class="main-menu menu-color--black menu-hover-color--green">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="active main-menu-link" href="/">Trang chủ </a>
                                    </li>
                                    <li class="has-dropdown has-megaitem">
                                        <a href="/SanPham/ChitietSP"> Sản phẩm <i class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <div class="mega-menu">
                                            <ul class="mega-menu-inner">
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Trangdiem" class="mega-menu-item-title">Trang Điểm</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="shop-grid-sidebar-left.html">Cushion</a></li>
                                                        <li><a href="shop-grid-sidebar-right.html">Kem nền</a></li>
                                                        <li><a href="shop-full-width.html">Phấn má hồng</a></li>
                                                        <li><a href="shop-list-sidebar-left.html">Xịt khoáng</a></li>
                                                        <li><a href="shop-list-sidebar-right.html">Son Môi</a></li>
                                                        <li><a href="shop-list-sidebar-left.html">Son dưỡng</a></li>
                                                        <li><a href="shop-list-sidebar-right.html">Phấn mắt</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Chamsocda" class="mega-menu-item-title">Chăm Sóc Da</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="cart.html">Mask giấy</a></li>
                                                        <li><a href="empty-cart.html">Mặt nạ</a></li>
                                                        <li><a href="wishlist.html">Sữa rửa mặt</a></li>
                                                        <li><a href="compare.html">Dưỡng da mặt</a></li>
                                                        <li><a href="checkout.html">Tẩy da chết</a></li>
                                                        <li><a href="login.html">Dưỡng da mắt</a></li>
                                                        <li><a href="my-account.html">Lotion</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Nuochoa" class="mega-menu-item-title">Nước Hoa</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="ChitietSP.html">Nước hoa nữ</a></li>
                                                        <li><a href="product-details-variable.html">Nước hoa nam</a></li>
                                                        <li><a href="product-details-affiliate.html">Xịt body</a></li>
                                                        <li><a href="product-details-group.html">Sữa tắm</a></li>
                                                        <li><a href="product-details-single-slide.html">Tẩy lông</a></li>
                                                        <li><a href="product-details-group.html">Sữa dưỡng thể</a></li>
                                                        <li><a href="product-details-single-slide.html">Kem dưỡng tay</a></li>
                                                    </ul>
                                                </li>
                                                <!-- Mega Menu Sub Link -->
                                                <li class="mega-menu-item">
                                                    <a href="/SanPham/Phukien" class="mega-menu-item-title">Phụ Kiện</a>
                                                    <ul class="mega-menu-sub">
                                                        <li><a href="product-details-tab-left.html">Dụng cụ trang điểm</a></li>
                                                        <li><a href="product-details-tab-right.html">Phụ kiện làm đẹp</a></li>
                                                        <li><a href="product-details-gallery-left.html">Sơn móng tay</a></li>
                                                        <li><a href="product-details-gallery-right.html">Rửa móng</a></li>
                                                        <li><a href="product-details-sticky-left.html">Mút đánh phấn</a></li>
                                                        <li><a href="product-details-sticky-right.html">Mặt nạ nén</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="menu-banner">
                                                <a href="#" class="menu-banner-link">
                                                    <img class="menu-banner-img" src="/Assets/Font/images/banner/banner-blackV.jpg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="/Home/Khuyenmai">Khuyến mãi</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Tin tức<i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="/Home/About">Về chúng tôi</a></li>
                                            <li><a href="/Tintuc/Review">Review sản phẩm</a></li>
                                            <li><a href="/Tintuc/CSdoitra">Chính sách đổi trả</a></li>
                                            <li><a href="/Tintuc/Login">Đăng nhập</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Thương Hiệu <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">3CE</a></li>
                                            <li><a href="#">3W Clinic</a></li>
                                            <li><a href="">A'PIEU</a></li>
                                            <li><a href="">Aritaum</a></li>
                                            <li><a href="">Avene</a></li>
                                            <li><a href="">Bath and body works</a></li>
                                            <li><a href="">Benton</a></li>
                                            <li><a href="">Biodema</a></li>
                                            <li><a href="">Careline</a></li>
                                            <li><a href="">City color</a></li>
                                            <li><a href="">Covergril</a></li>
                                            <li><a href="">DHC</a></li>
                                            <li><a href="">Dr.Belmeur</a></li>
                                            <li><a href="">Etude House</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/Home/Contact">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Header Main Menu Start -->
                        <!-- Start Header Action Link -->
                        <ul class="header-action-link action-color--black action-hover-color--green">
                            <li>
                                <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                    <i class="icon-heart"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                    <i class="icon-bag"></i>
                                    <span class="item-count">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#search">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                    <i class="icon-menu"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- End Header Action Link -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Start Header Area -->
<!-- Start Mobile Header -->
<div class="mobile-header mobile-header-bg-color--golden section-fluid d-lg-block d-xl-none">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Start Mobile Left Side -->
                <div class="mobile-header-left">
                    <ul class="mobile-menu-logo">
                        <li>
                            <a href="/">
                                <div class="logo">
                                    <img src="/Assets/Font/images/logo/logo_black.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Left Side -->
                <!-- Start Mobile Right Side -->
                <div class="mobile-right-side">
                    <ul class="header-action-link action-color--black action-hover-color--golden">
                        <li>
                            <a href="#search">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-wishlish" class="offcanvas-toggle">
                                <i class="icon-heart"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                <i class="icon-bag"></i>
                                <span class="item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Mobile Right Side -->
            </div>
        </div>
    </div>
</div>
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Về chúng tôi</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="#">Tin tức</a></li>
                                <li class="active" aria-current="page">Về chúng tôi</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- Start About Top -->
<div class="about-top">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between d-sm-column">
            <div class="col-md-6">
                <div class="about-img" data-aos="fade-up" data-aos-delay="0">
                    <div class="img-responsive">
                        <img src="/Assets/Font/images/blog/tk3.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="title">Hệ thống phân phối mỹ phẩm hàng đầu việt nam</h3>
                    <h5 class="semi-title"> Với mục tiêu mang đến cơ hội trải nghiệm các sản phẩm làm đẹp chất lượng tốt – giá tốt nhất thị trường, góp phần đắp đầy những vẻ đẹp khuyết thiếu, truyền cảm hứng dùng mỹ phẩm và giúp vẻ đẹp iệt tỏa sáng, Beauty Garden luôn không ngừng phấn đấu để hoàn thiện chất lượng dịch vụ của chính mình.</h5>
                    <p> Gần 7 năm kinh nghiệm hoạt động trong lĩnh vực mỹ phẩm làm đẹp, hiện đội ngũ nhân viên của Beauty Garden đã lên đến 150 người cùng hệ thống cửa hàng trải khắp ba miền đất nước. Beauty Garden đang dần khẳng định được vị thế của mình trên thương trường và chiếm được tin yêu của đông đảo quý khách hàng.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Top -->
<!-- Start Slill Progress -->
<div class="progressbar-section section-top-gap-100 section-inner-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="content" data-aos="fade-up" data-aos-delay="0">
                    <h4 class="title">Sự phát triển của hệ thống</h4>
                    <li>6 năm 3 miềm 150 nhân viên. </li>
                    <li>Đội ngũ nhân viên tư vấn chuyên nghiệp, giàu kinh nghiệm và tận tâm với nghề. </li>
                    <li>Hệ thống 11 chi nhánh tại 3 miền khách tiện lợi đến tận nơi xem hàng. Dễ dàng mua hàng online qua fanpage hoặc website.</li>
                    <li>Hình thức thanh toán linh hoạt: chuyển khoản, ship COD </li>
                    <li>Công ty uy tín, nhiều năm kinh nghiệm phát triển trong lĩnh vực mỹ phẩm làm đẹp. </li>
                    <li>Là đối tác của nhiều thương hiệu mỹ phẩm nổi tiếng The Face Shop, TonyMoly, The Body Shop, Mac,...</li>
                    <li>
                        Mỹ phẩm chính hãng có xuất xứ nguồn gốc rõ ràng: Hàng nhập khẩu từ Mỹ, Pháp, Anh, Nhật, Hàn, Thái Lan,...
                    </li>
                    <li>
                        Sản phẩm đa dạng: đảm bảo phục vụ nhu cầu làm đẹp của chị em.
                    </li>
                </div>
            </div>
            <div class="col-md-6">
                <div class="custom-progress m-t-40">
                    <div class="skill-progressbar" data-aos="fade-up" data-aos-delay="0">
                        <h6 class="font--semi-bold m-b-15">Thu nhập</h6>
                        <div class="line-progressbar" data-percentage="75" data-progress-color="#b19361"></div>
                    </div>
                    <div class="skill-progressbar" data-aos="fade-up" data-aos-delay="200">
                        <h6 class="font--semi-bold m-b-15">Doanh số</h6>
                        <div class="line-progressbar" data-percentage="86" data-progress-color="#b19361"></div>
                    </div>
                    <div class="skill-progressbar" data-aos="fade-up" data-aos-delay="400">
                        <h6 class="font--semi-bold m-b-15">Sản phẩm</h6>
                        <div class="line-progressbar" data-percentage="97" data-progress-color="#b19361"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slill Progress -->
<!-- Start Service Section -->
<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="0">
                        <div class="image">
                            <img src="/Assets/Font/images/icons/icon_about1.jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">Creative Always</h6>
                            <p>Stay creative with Billey and the huge collection of premade elements, layouts & effects.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="200">
                        <div class="image">
                            <img src="/Assets/Font/images/icons/icon_about2.jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">Express Customization</h6>
                            <p>Easy to install and configure the theme customization in a few clicks with Billey.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="image">
                            <img src="/Assets/Font/images/icons/icon_about3.jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">Premium Integrations</h6>
                            <p>Integrated premium plugins in Billey is the secret weapon for your business to thrive.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item" data-aos="fade-up" data-aos-delay="600">
                        <div class="image">
                            <img src="/Assets/Font/images/icons/icon_about4.jpg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="title">Real-time Editing</h6>
                            <p>Edit your work and preview the changes on the screen live with advanced page builder.</p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->
<!--  Start  Team Section    -->
<div class="team-section section-top-gap-100 secton-fluid section-inner-bg">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content text-center">
                            <h3 class="section-title">Meet Our Team</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Content Text Area -->
    <div class="team-wrapper">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="0">
                        <div class="team-img">
                            <img class="img-fluid" src="/Assets/Font/images/team/leader1.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">Ms. Veronica</h6>
                            <span class="team-title">Web Designer</span>
                            <ul class="team-social pos-absolute">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-img">
                            <img class="img-fluid" src="/Assets/Font/images/team/leader2.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">Missa Santos</h6>
                            <span class="team-title">CEO Founder</span>
                            <ul class="team-social pos-absolute">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-img">
                            <img class="img-fluid" src="/Assets/Font/images/team/leader3.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">Missa Santos</h6>
                            <span class="team-title">Chief Officer</span>
                            <ul class="team-social pos-absolute">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="600">
                        <div class="team-img">
                            <img class="img-fluid" src="/Assets/Font/images/team/leader4.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">Lisa Antonia</h6>
                            <span class="team-title">CTO</span>
                            <ul class="team-social pos-absolute">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                                <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--   End  Team Section   -->
<!-- Start Company Logo Section -->
<div class="company-logo-section section-top-gap-100 section-fluid">
    <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="company-logo-slider default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container company-logo-slider">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-1.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-2.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-3.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-4.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-5.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-6.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-7.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                                <!-- Start Company Logo Single Item -->
                                <div class="company-logo-single-item swiper-slide">
                                    <div class="image"><img class="img-fluid" src="/Assets/Font/images/company-logo/company-logo-8.png" alt=""></div>
                                </div>
                                <!-- End Company Logo Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev d-none d-md-block"></div>
                        <div class="swiper-button-next d-none d-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
